@use '@/shared/mixins' as *;

.HeroImage {
  width: 100%;
  max-width: 480px;
  object-fit: contain;
  user-select: none;
  @include media-laptop {
    max-width: 600px;
  }
  @include media-desktop {
    max-width: 796px;
  }
}
